body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

    background-color: #fff;
    color: black;

    text-align: center;
}

ul {
    list-style-type: none;
    padding: 8px;
    text-align: right;
}
li {
    display: inline;
    padding-left: 10px;    
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: black;
    opacity: 1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

form {
    margin: 10px 0px;
}

#searchbar {
    height: 40px;
    width: 400px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 24px;
}

.button {
    height: 35px;
    margin: 10px 10px 20px 0px;
}

img {
    margin-top: 5px;
    padding-top: 100px;
    padding-bottom: 3px;
}

#country {
    background-color: lightgray;
    color: black;
    text-align: left;
    font-size: 14px;
    opacity: 0.8;
    padding: 8px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#footer {
    text-align: left;
    background-color: lightgrey;
    opacity: 0.8;
    border-top: gray solid;
    border-top-width: 1px;
}

span {
    float: right;
    padding-right: 8px;
}

a:hover #footer {
    opacity: 1;
}
